body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 68px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
@media screen and (max-width: 440px) {
  .header {
    height: 47px;
    margin: 20px 20px 27px 20px;
  }
}
@media screen and (max-width: 440px) {
  .header img {
    width: 145px;
    height: 47px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
  width: 309px;
  height: 34px;
}
@media screen and (max-width: 440px) {
  .nav {
    align-items: center;
    height: 47px;
    width: 100%;
  }
}
.nav-link {
  text-decoration: none;
}
.nav-active {
  text-decoration: underline;
}

.nav-link,
.nav-active {
  padding-left: 35px;
  font-family: Montserrat;
  color: #ff6060;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
}
@media screen and (max-width: 440px) {
  .nav-link,
  .nav-active {
    font-size: 12px;
    line-height: 17px;
  }
}

.body {
  margin: 50px 100px 50px 100px;
}
@media screen and (max-width: 440px) {
  .body {
    margin: 27px 20px 27px 20px;
  }
}

.card {
  margin: 40px 0px 50px 0px;
  border-radius: 25px;
  background: #F6F6F6;
  padding: 0px 50px 43px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 440px) {
  .card {
    margin: 20px 0px 30px 0px;
    padding: 0px 50px 5px 50px;
  }
}

.banner {
  background: #000;
  border-radius: 25px;
  mix-blend-mode: darken;
  height: 223px;
  position: relative;
}
@media screen and (max-width: 440px) {
  .banner {
    height: 111px;
  }
}
.banner-img {
  border-radius: 25px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  opacity: 0.7;
}
.banner-texte {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
  margin: 0;
  left: 23%;
  top: 35%;
  position: absolute;
}
@media screen and (max-width: 440px) {
  .banner-texte {
    font-size: 24px;
    line-height: 100%;
    height: 47px;
    margin-right: 145px;
    text-align: left;
    left: 7%;
    top: 30%;
  }
}

.div_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 209px;
  width: 100%;
  background-color: #000000;
  margin: 10px 0px;
}
@media screen and (max-width: 440px) {
  .div_footer {
    padding: 0px 0px 0px 0px;
    margin: 0px;
  }
}
.div_footer img {
  width: 122px;
  height: 39px;
}
.div_footer h3 {
  font-family: Montserrat;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 440px) {
  .div_footer h3 {
    font-size: 12px;
    line-height: 142%;
    padding: 0px 38% 0px 38%;
  }
}

.card-div {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: #FF6060;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  margin-top: 50px;
}
@media screen and (max-width: 440px) {
  .card-div {
    margin-top: 20px;
  }
}

.card-link {
  text-decoration: none;
}

.card-div img {
  height: 340px;
  width: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.card-titre {
  z-index: 1;
  bottom: 52%;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 115px;
  position: relative;
}